$gap: 3rem;

.section {
  display: flex;
  flex-direction: column;
  gap: $gap;
}

.list {
  user-select: none;
  width: 100%;
  overflow-x: scroll;

  & > *:first-child {
    display: flex;
    gap: $gap;
  }

  & > div > div {
    width: min-content !important;
  }
  
  &::-webkit-scrollbar {
    height: 0rem;
  }
}
