@import "../../../styles/mixins.scss";

.friend {
  @include list-item-icon;
  @include default-hover;
  user-select: none;
}

.online {
  & > svg {
    color: var(--secondary-clr-200);
  }
  &.mark::after {
    content: "";
    @include notification-mark;
    background-color: var(--success-clr);
    box-shadow: 0px 0px 8px 2px var(--success-clr);
  }
}

.name {
  flex-grow: 1;
  @include text-overflow-inline;
}
