@import "../../styles/mixins.scss";

.friendslist {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.label {
  @include nav-label;
}

.friend {
  @include list-item-icon;
  @include default-hover;
}

.online {
  & > svg {
    color: var(--secondary-clr-200);
  }
  &::after {
    content: "";
    @include notification-mark;
    background-color: var(--succes-clr);
  }
}

.name {
  flex-grow: 1;
}
