@import "../../styles/mixins.scss";

$header-height: 8rem;
$sidebar-width: 25rem;

.page_layout {
  grid-template-columns: $sidebar-width 1fr;
  grid-template-rows: $header-height 1fr;
  min-height: 100vh;

  display: grid;
}

.header {
  position: fixed;
  grid-column: 1/-1;
  grid-row: 1/2;
  top: 0;
  left: 0;
  right: 0;
  height: $header-height;
  background-color: var(--bg-clr-900);
  box-shadow: var(--shadow-8);
  padding: var(--default-padding);
  z-index: 99;

  display: grid;
  grid-template-columns: $sidebar-width 1fr;
  align-items: center;

  & > img {
    cursor: pointer;
  }
}

.header__nav {
  display: flex;
  justify-content: space-between;
}

.sidebar {
  position: fixed;
  grid-column: 1/2;
  grid-row: 2/-1;
  top: $header-height;
  left: 0;
  bottom: 0;
  width: $sidebar-width;
  border-right: 2px solid var(--bg-clr-400);
  color: var(--secondary-clr-800);
  background-color: var(--bg-clr-800);
  padding: var(--default-padding);

  z-index: 98;

  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.sidebar_button {
  @include default-button;
  font-size: 3rem;
  align-self: end;
  margin-top: auto;
  transform: rotate(180deg);

  &--hide {
    transform: rotate(0deg);
  }
}

.main {
  grid-column: 2/-1;
  grid-row: 2/-1;
  // padding: var(--default-padding) 10rem;
  padding: var(--default-padding) clamp(2rem, 5vw, 5rem);;
  height: 300vh;

  display: flex;
  flex-direction: column;
}
