@import "../../styles/mixins.scss";

$header-height: 8rem;
$sidebar-width: 25rem;

.page_layout {
  grid-template-columns: var(--sidebar-current) 1fr;
  grid-template-rows: $header-height 1fr;
  min-height: 100vh;

  display: grid;

  &.active {
    grid-template-columns: var(--sidebar-current) 1fr 33rem;
  }

  &.static {
    max-height: 100vh;
  }
}

.logo {
  min-width: 20rem;
  min-height: 4rem;
}

.header {
  position: fixed;
  grid-column: 1/-1;
  grid-row: 1/2;
  top: 0;
  left: 0;
  right: 0;
  height: $header-height;
  background-color: var(--bg-clr-900);
  box-shadow: var(--shadow-8);
  padding: var(--default-padding);
  z-index: 99;

  display: flex;
  align-items: center;

  & > img {
    cursor: pointer;
  }
}

.header__nav {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

.sidebar {
  position: fixed;
  grid-column: 1/2;
  grid-row: 2/-1;
  top: $header-height;
  left: 0;
  bottom: 0;
  width: var(--sidebar-current);
  border-right: 2px solid var(--bg-clr-400);
  color: var(--secondary-clr-800);
  background-color: var(--bg-clr-800);
  padding: var(--default-padding);

  z-index: 98;

  display: flex;
  flex-direction: column;
  gap: 2rem;

  &.active {
    padding: 2rem 0.5rem;
    align-items: center;
  }

  &.active h3 {
    display: none;
  }

  & > button {
    align-self: flex-end;
    transform: rotate(180deg);
  }

  &.active > button {
    transform: rotate(0deg);
    align-self: center;
  }
}

.main {
  grid-column: 2/-2;
  grid-row: 2/-1;
  overflow-x: hidden;
  padding: var(--default-padding) clamp(0.5rem, 5vw, 2rem);
  background: radial-gradient(var(--bg-clr-400), var(--bg-clr-900));

  display: flex;
  flex-direction: column;
  gap: 5rem;

  &.static {
    overflow: hidden;
    padding: 0;
    max-height: 100%;
  }
}
