@import "../../styles/mixins.scss";

.nav {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  & > ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  &__item {

    @include list-item-icon;
    @include default-hover;

    &:hover {
      color: var(--secondary-clr-400);
    }

    &:hover > svg {
      color: var(--primary-clr-200);
    }
  }
}

.active {
  color: var(--secondary-clr-200);

  & > svg {
    color: var(--primary-clr-400);
  }
}

.label {
  @include nav-label;
}
