@import "../../styles/mixins.scss";

.buttons {
  display: flex;
  align-items: center;
  gap: 1rem;

  & svg {
    font-size: 3rem;
    transition: 0.1s;
  }
}

.button {
  position: relative;
  @include default-button;
}

.user_button {
  display: flex;
  padding-left: 2rem;
  height: max-content;
  gap: 1rem;
  align-items: center;

  & > .button {
    color: var(--primary-clr-400);

    &:hover {
      color: var(--primary-clr-200);
    }
  }
}

.allert_mark {
  position: absolute;
  right: 25%;
  top: 20%;
  width: 0.9rem;
  height: 0.9rem;
  border-radius: 50%;
  background-color: var(--primary-clr-400);
}
