.nav_label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.6rem;
  color: var(--secondary-clr-800);

  & > svg {
    font-size: 3.5rem;
    color: var(--primary-clr-400);
  }

  & > .route {
    transition: 0.2s;
  }

  & > .route:first-of-type {
    color: var(--secondary-clr-200);
    font-size: 2rem;
    text-transform: capitalize;
  }

  & > .route:hover {
    color: var(--primary-clr-200);
  }
}
