.cinema {
  display: flex;
  flex-direction: column;
}

.container {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto auto;
  font-size: 2rem;
  border-bottom: 2px solid var(--bg-clr-400);
  padding: 2rem 0;
}

.title {
  font-size: 2.5rem;
  grid-column: 1/2;
  grid-row: 1/2;
}

.year {
  grid-column: 1/2;
  grid-row: 2/3;
  color: var(--secondary-clr-800);
}

.viewers {
  display: flex;
  align-items: center;
  grid-column: 2/3;
  grid-row: 1/2;
  gap: 1rem;
  color: var(--succes-clr);
}

.description {
  display: flex;
  gap: 5rem;
  font-size: 1.6rem;
  margin-top: 10rem;

  & > img {
    height: 30rem;
    border-radius: 20px;
  }

  & > p {
   max-width: 80rem;
  }
}

