$max-sidth: 40rem;

.frontcard {
  position: relative;
  display: grid;
  grid-template-columns: 45% 1fr;
  grid-template-rows: 1fr;
  align-self: center;
  border-radius: 20px;
  overflow: hidden;
  width: 100%;
  aspect-ratio: 3/1.1;

  @media (max-width: 1600px) {
    aspect-ratio: 3/1.3;
  }
}

.front_wrapper {
  position: absolute;
  width: 100%;
  height: 100%;

  & > img {
    position: absolute;
    object-fit: cover;
    object-position: top;
    width: 100%;
    height: 100%;
    transition: 1.5s;
    opacity: 0;

    &.active {
      opacity: 1;
    }

    @media (max-width: 1600px) {
      aspect-ratio: 3/1.3;
    }
  }
}

.info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: auto 0;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-column: 1/2;
  grid-row: 1/-1;
  padding: clamp(2rem, 10%, 5rem);
  z-index: 5;

  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 1) 40%,
    rgba(0, 0, 0, 0.8) 70%,
    rgba(0, 0, 0, 0) 100%
  );

  & > button {
    margin-top: auto;
  }
}

.title {
  font-size: clamp(2rem, 4vw, 7rem);
  max-width: $max-sidth;
}

.meta {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: clamp(1rem, 4vw, 2rem);
  color: var(--secondary-clr-800);
}

.rate {
  color: var(--success-clr);
  font-size: clamp(1rem, 4vw, 1.8rem);
}

.about {
  font-size: 1.8rem;
  color: var(--secondary-clr-400);
  max-width: $max-sidth;
}

.previev {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 0rem;
  bottom: 0rem;
  gap: 1rem;
  padding: 3rem;

  &::before {
    position: absolute;
    content: "";
    width: 60rem;
    height: 4rem;
    box-shadow: 0px 0px 100px 100px rgba(0, 0, 0, 1);
    background-color: rgba($color: #000000, $alpha: .8);
  }

  & > .image_wrapper {
    position: relative;
    width: 20rem;
    height: 13rem;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: var(--shadow-8);
    transition: 0.2s;
    filter: brightness(0.4);
    cursor: pointer;

    &:not(.active):hover {
      filter: brightness(0.6);
    }

    &.active {
      filter: brightness(1);
    }

    & > img {
      object-fit: cover;
      object-position: top;
      transform: scale(1.5);
    }
  }

  & > button {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    font-size: 2.5rem;
    background-color: var(--primary-clr-400);
    color: var(--secondary-clr-200);
    border-radius: 50%;
    transition: 0.2s;
    z-index: 5;
    width: 3.8rem;
    height: 3.8rem;
    box-shadow: var(--shadow-8);

    &:hover {
      background-color: var(--primary-clr-200);
    }

    &.btn_left {
      left: 3rem;
      transform: translate(-50%, -50%);
    }

    &.btn_right {
      right: 3rem;
      transform: translate(50%, -50%) rotate(180deg);
    }
  }
}
