.infinite {
  position: relative;
  flex-grow: 1;
  gap: 2rem;
  padding-bottom: 1px;
  overflow: overlay;

  @media (max-width: 640px) {
    gap: 5rem;
  }

  &.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    gap: 1.5rem;

    & * {
      width: 100%;
    }
  }

  &.row {
    display: flex;
    flex-direction: column;
  }
}
