@import "../../../styles/mixins.scss";

.container {
  position: relative;
}

.button {
  position: relative;
  @include default-button;

  &.marked::after {
    content: "";
    position: absolute;
    right: 25%;
    top: 20%;
    @include notification-mark;
    background-color: var(--primary-clr-400);
  }

  &.user {
    color: var(--primary-clr-400);

    &:hover {
      color: var(--primary-clr-200);
    }
  }
}
