@import "../../../styles/mixins.scss";

.container {
  position: relative;

  @media (max-width: 800px) {
    position: unset;
  }

  &.marked > button::after {
    content: "";
    position: absolute;
    right: 25%;
    top: 20%;
    @include notification-mark;
    background-color: var(--primary-clr-400);
  }

  &.avatar > button {
    color: var(--primary-clr-400);

    &:hover {
      color: var(--primary-clr-200);
    }
  }
}
