.cinema {
  display: flex;
  height: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex-grow: 1;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 0;
  }

  & > * {
    padding: 0 2rem;
  }
}

.container {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto auto;
  font-size: 2rem;
}

.title {
  font-size: 2.5rem;
  grid-column: 1/2;
  grid-row: 1/2;
}

.year {
  grid-column: 1/2;
  grid-row: 2/3;
  color: var(--secondary-clr-800);
}

.viewers {
  display: flex;
  align-items: center;
  grid-column: 2/3;
  grid-row: 1/2;
  gap: 1rem;
  color: var(--success-clr);
}

.description {
  display: flex;
  gap: 5rem;
  font-size: 1.6rem;
  margin-top: 5rem;

  & > img {
    height: 25rem;
    border-radius: 20px;
  }

  & > p {
    max-width: 80rem;
  }
}
