.discussions {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 4rem;

  & > button {
    position: fixed;
    right: 2rem;
    bottom: 7rem;
  }
}

.template {
  display: grid;
  grid-template-columns: 1fr 2fr 10rem 16rem 12rem;
  border-bottom: 1px solid var(--bg-clr-200);
  padding: 1rem;

  & > span {
    font-size: 1.6rem;
    font-weight: 600;
    padding: 0 1rem;
    padding-bottom: 1rem;

    &:nth-child(n + 3) {
      text-align: center;
    }
  }

  & > *:not(:last-child) {
    border-right: 1px solid var(--bg-clr-200);
  }
}

.discussions_content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex-grow: 1;
}

.post_item {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 1fr 1fr;
  background-color: var(--bg-clr-400);
  font-size: 1.6rem;
  padding: 1rem;
  border-radius: 8px;
  transition: 0.2s;
  cursor: pointer;
  gap: 0.5rem;

  &:hover {
    background-color: var(--bg-clr-200);
  }

  & > .subject {
    grid-column: 1/2;
    grid-row: 1/2;
    font-weight: 800;

    .author {
      font-weight: 400;
      font-size: 1.2rem;
      color: var(--success-clr);
    }
  }

  & > .description {
    grid-column: 1/2;
    grid-row: 2/3;
    color: var(--secondary-clr-800);
  }

  & > .date {
    grid-column: -1/-2;
    grid-row: 1/2;
    font-size: 1.4rem;
  }
  
  & > .comments {
    grid-column: -1/-2;
    grid-row: 2/3;
  }
  
  & > span {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    gap: 0.5rem;
    
    &:nth-child(n + 3) {
      display: flex;
      align-items: center;
      margin-left: auto;
      color: var(--secondary-clr-400);
      font-weight: 600;

      & > svg {
        font-size: 2rem;
        color: var(--secondary-clr-200);
      }
    }
  }
}

.no_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  margin: auto 0;

  & > h3 {
    font-size: 2rem;
    color: var(--secondary-clr-800);
  }
  & > h4 {
    font-size: 2rem;
    font-size: 2.2rem;
    color: var(--secondary-clr-400);
  }

  & > button {
    margin-top: 2rem;
  }
}

.pagination {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  margin-top: auto;
  align-self: center;
  align-items: center;
  gap: 2rem;

  & > button {
    padding: 0;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;

    & > svg {
      font-size: 1.6rem !important;
    }
    &:last-child {
      & > svg {
        transform: rotate(180deg);
      }
    }
  }

  & > span {
    font-size: 2rem;
    grid-column: 2/3;
  }
}
