.discovery {
  display: flex;
  height: 100%;
  gap: 2rem;
}

.filters {
  width: 30%;
  min-width: 35rem;
  background-color: var(--bg-clr-800);
  padding: 2rem;
  border-right: 2px solid var(--bg-clr-400);

  & > form {
    display: flex;
    flex-direction: column;
    gap: 4rem;

    & > h2 {
      font-size: 2.2rem;
    }
  }
}

.input {
  border-radius: 10px;
  border: 2px solid var(--bg-clr-200);
  background-color: var(--bg-clr-400);
  color: var(--secondary-clr-200);
  outline: none;
  transition: 0.1s;
  flex-grow: 1;
  height: 5rem;
  font-size: 1.6rem;
  padding: 1.5rem;

  &::placeholder {
    color: var(--secondary-clr-800);
  }

  &:hover {
    background-color: var(--bg-clr-200);
  }

  &:focus {
    border: 2px solid var(--primary-clr-400);
    background-color: var(--bg-clr-200);
  }
}

.list {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  overflow-y: scroll;
  flex-grow: 1;
  gap: 1rem;
  
  & > * {
    margin: 0 auto;
  }
  
}

.options {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;

  & > .input {
    flex-grow: 0;
    width: 10rem;
  }

  & > div {
    position: relative;
    display: flex;
    align-items: center;

    & > input {
      visibility: hidden;
      position: absolute;

      &:checked + label {
        background-color: var(--primary-clr-400);
        border-color: var(--primary-clr-400);
      }
    }

    & > label {
      font-size: 1.8rem;
      cursor: pointer;
      border: 2px solid var(--primary-clr-400);
      border-radius: 20px;
      padding: 0.5rem 1.5rem;
      transition: 0.2s;

      &:hover {
        background-color: var(--primary-clr-200);
        border: 2px solid var(--primary-clr-200);
      }
    }
  }
}
