.discovery {
  display: grid;
  grid-template-columns: 35% 1fr;
  grid-template-rows: 1fr;
  height: 100%;
  gap: 2rem;

  @media (max-width: 1024px) {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
  }
}

.filters {
  background-color: var(--bg-clr-800);
  padding: 2rem;
  border-right: 2px solid var(--bg-clr-400);
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 0px;
  }

  & > form {
    display: flex;
    flex-direction: column;
    gap: 4rem;

    & > h2 {
      font-size: 2.2rem;
    }

    @media (max-width: 1024px) {
      &:not(.expand) > *:not(.control_wrapper) {
        display: none;
      }
    }
  }

  .control_wrapper {
    display: flex;
    gap: 1rem;

    @media (max-width: 1024px) {
      & > input {
        display: none;
      }
    }

    & > button {
      display: none;
      margin-left: auto;

      @media (max-width: 1024px) {
        display: flex;
      }
    }

    &.expand > input {
      display: block !important;
    }
  }

  @media (max-width: 1024px) {
    width: 100%;
    height: min-content;
    overflow: hidden;
    padding: 0.5rem 2rem;

    &.expand {
      height: auto;
      overflow: scroll;
    }
  }
}

.options {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;

  & > input {
    flex-grow: 0;
    width: 10rem;
  }
}
