.post {
  display: flex;
  flex-direction: column;
  max-width: 100rem;
  background-color: var(--bg-clr-400);
  align-self: center;
  flex-grow: 1;
  border-radius: 20px;
  padding: 2rem;
  box-shadow: var(--shadow-2);
}

.header {
  display: flex;
  flex-direction: column;
  min-height: 30rem;
  gap: 2rem;
  border-bottom: 1px solid var(--bg-clr-200);
  
  & > * {
    padding: 1rem 0;
  }
  
  & > h1 {
    font-size: 3rem;
    border-bottom: 1px solid var(--bg-clr-200);
  }

  & > p {
    font-size: 1.8rem;
    width: 100%;
  }
}
