.search_results {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  max-width: 120rem;
  align-self: center;

  & > ul {
    gap: 2rem;
  }

  & > ul.row {
    display: flex;
    flex-direction: column;
  }

  & > ul.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    gap: 1.5rem;

    & * {
      width: 100%;
    }
  }
}

.header {
  display: flex;
  align-items: center;
  padding: 1rem 0;
  border-bottom: 1px solid var(--bg-clr-200);

  & > h1 {
    font-size: 2.8rem;
    color: var(--secondary-clr-800);
    flex-grow: 1;
  }
}

.display_buttons {
  display: flex;
  align-items: center;

  & > button {
    color: var(--secondary-clr-800);
  }

  &.grid > button:first-child,
  &.row > button:last-child {
    color: var(--secondary-clr-200);
  }
}
