@import "../../styles/mixins.scss";

.message_modal {
  position: fixed;
  display: flex;
  flex-direction: column;
  right: 1rem;
  bottom: 1rem;
  width: 35rem;
  height: 45rem;
  border-radius: 20px;
  box-shadow: var(--shadow-6);
  border: 1px solid var(--bg-clr-400);
  @include appear-animation;
  overflow: hidden;

  & > *:not(ul) {
    padding: 1rem 2rem;
  }

  @include max-width-modal();
}

.header {
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
  padding-bottom: 0.5rem !important;
  font-weight: 600;
  border-bottom: 1px solid var(--bg-clr-200);
  background-color: var(--bg-clr-400);
}

.name {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  &.online::after {
    content: "";
    @include notification-mark;
    background-color: var(--success-clr);
  }
}

.close_button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.2rem;
  border: none;
  background-color: transparent;
  color: var(--secondary-clr-800);
  transition: 0.2s;

  &:hover {
    color: var(--primary-clr-400);
  }
}

.messages {
  flex-grow: 1;
  overflow-y: scroll;
  background-color: var(--bg-clr-400-glass);
  backdrop-filter: blur(8px);

  &::-webkit-scrollbar {
    width: 0px;
  }

  &:hover::-webkit-scrollbar {
    width: 10px;
  }
}

.text_area {
  display: flex;
  align-items: center;
  padding-top: 1rem !important;
  border-top: 1px solid var(--bg-clr-200);
  background-color: var(--bg-clr-400);
  gap: 0.3rem;

  & > input {
    border-radius: 10px;
    border: 2px solid var(--bg-clr-200);
    background-color: var(--bg-clr-400);
    color: var(--secondary-clr-200);
    outline: none;
    transition: 0.1s;
    flex-grow: 1;
    height: 4rem;
    font-size: 1.4rem;
    padding: 1.5rem;

    &::placeholder {
      color: var(--secondary-clr-800);
    }

    &:hover {
      background-color: var(--bg-clr-200);
    }

    &:focus {
      background-color: var(--bg-clr-200);
    }
  }

  & > button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    border-radius: 10px;
    background-color: var(--bg-clr-200);
    color: var(--secondary-clr-200);
    font-size: 1.8rem;
    transition: 0.1s;
    border: none;

    &:hover {
      background-color: var(--primary-clr-400);
    }
  }
}

@include appear-keyframes;
