@import "../../styles/mixins.scss";

.modal {
  position: fixed;
  display: flex;
  flex-direction: column;
  z-index: 100;
  width: 33rem;
  height: 18rem;
  border-radius: 20px;
  box-shadow: var(--shadow-6);
  @include appear-animation;
  overflow: hidden;
}

.header {
  display: flex;
  height: 43%;
  background-color: var(--bg-clr-400-glass);
  backdrop-filter: blur(6px);
  border-radius: 20px 20px 0px 0px;
}

.data {
  display: flex;
  align-items: center;
  font-size: 2rem;
  gap: 1rem;
  padding: 2rem;
  transform: translate(0, 22%);

  &.online {
    color: var(--secondary-clr-800);
  }

  & > svg {
    font-size: 6rem;
  }
}

.buttons {
  display: flex;
  flex-grow: 1;
  align-items: center;
  background-color: var(--bg-clr-400);
  padding: 2rem;
  gap: 1rem;

  & > button {
    font-size: 1.6rem;
  }
}

@include appear-keyframes;
