@import "../../../styles/mixins.scss";

.nav_item {

  @include list-item-icon;
  @include default-hover;

  width: 100% !important;

  &:hover {
    color: var(--secondary-clr-400);
  }

  &:hover > svg {
    color: var(--primary-clr-200);
  }
}

.active {
  color: var(--secondary-clr-200);

  & > svg {
    color: var(--primary-clr-400);
  }
}