@import "../../../styles/mixins.scss";

.nav {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  & > ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    @media (max-width: 640px) {
      gap: 1.5rem;
    }
  }
}

.label {
  @include nav-label;
}
